<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash.now[:errors] %>
    <% flash.now[:errors].each do |error| %>
     <%= error %><br />
    <% end %>
  <% end %>

    <% if current_user %>
      <h1><%=current_user.user_name%></h1>
      <p>Hello, <%=current_user.user_name%></p>
      <br>
      <%= button_to "Logout", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign up!", new_user_url %>

    <% end %>


<%= yield %>

</body>
</html>
